.grid {
  display: flex;
}

.column {
  flex-direction: column;
}

.column > p {
  text-align: center;
}

.notebutton {
  width: 40px;
  height: 20px;
  border: 1px solid grey;
  background-color: rgb(206, 204, 204);
}

.C {
  background-color: red;
}

.D {
  background-color: orange;
}

.E {
  background-color: yellow;
}

.F {
  background-color: green;
}

.G {
  background-color: blue;
}

.A {
  background-color: indigo;
}

.B {
 background-color: violet;
}

.activecolumn {
  filter: brightness(1.5);
}